.category{
    grid-area: category;
}
.thumbnail{
    grid-area: thumbnail;
    width: 100%;
    height: 100%;
    max-width: 250px;
}
.title{
    grid-area: title;
}
.summary{
    grid-area: summary;
}
.line-hr{
    grid-area: line-hr;
}
.author{
    grid-area: author;
}

.list-container{
    grid-template-columns: minmax(100px,15%) repeat(2, 1fr);
    grid-template-areas: "thumbnail category category"
                         "thumbnail title title"
                         "thumbnail summary summary"
                         "thumbnail author author";
    row-gap: .5em;
    column-gap: 1em;
}