.ql-toolbar{
    position: sticky;
    top: 11.8rem;
    z-index: 10;
}
.ql-toolbar.ql-snow{
    background-color: var(--background);
}
.ql-toolbar.ql-snow, .ql-container.ql-snow{
    border: .1rem solid var(--lightgrey);
    border-radius: .5rem;
}
.ql-container.ql-snow{
    margin-top: .5rem;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow{
    border-top: .1rem solid var(--lightgrey);
}
.ql-snow .ql-picker.ql-header .ql-picker-label::before{
    color: #ffffff;
}
.ql-snow .ql-stroke{
    stroke: #ffffff;
}
.ql-snow .ql-picker-options{
    background-color: var(--tileblue);
    padding: 0 0;
    overflow: hidden;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options{
    border: .1rem solid var(--lightgrey);
    border-radius: .5rem;
}
.ql-snow .ql-picker.ql-expanded .ql-picker-options{
    margin-top: .5rem;
}
.ql-snow .ql-picker{
    color: #ffffff;
    font-weight: normal;
    font-size: var(--font_125);
    height: unset;
}
.ql-snow .ql-picker-options .ql-picker-item{
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.ql-snow .ql-picker.ql-header .ql-picker-item::before{
    font-size: var(--font_125) !important;
}
.ql-snow .ql-picker-options .ql-picker-item:hover{
    color: #ffffff;
    background-color: var(--background);
}
.ql-snow .ql-picker.ql-header{
    width: 12rem;
}
.ql-header .ql-picker{
    outline: none;
}
.ql-toolbar.ql-snow .ql-picker-label{
    border: .1rem solid var(--lightgrey);
    padding: .25rem 1rem;
    border-radius: .5rem;
    background-color: var(--tileblue);
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label{
    border-color: var(--green);
    transition: border 250ms;
}
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg{
    right: 1rem;
}
.ql-snow.ql-toolbar button{
    background-color: var(--tileblue);
    padding: .25rem;
    border-radius: .25rem;
    margin-right: 1rem;
    width: unset;
    height: 35px;
    aspect-ratio: 1/1 !important;
    border: .1rem solid var(--lightgrey);
}
.ql-snow .ql-fill{
    fill: #ffffff;
}
.ql-snow.ql-toolbar button.ql-active .ql-stroke{
    stroke: var(--green) !important;
}
.ql-snow.ql-toolbar button.ql-active .ql-fill{
    fill: var(--green) !important;
}
.ql-container{
    font-size: var(--font_125);
}
.ql-snow .ql-tooltip.ql-flip{
    border-radius: .5rem;
    position: absolute;
    left: 0 !important;
    top: -4.5rem !important;
    z-index: 85;
}
.ql-snow .ql-tooltip{
    background-color: var(--tileblue);
    border: .1rem solid var(--lightgrey);
    box-shadow: unset;
    color: #ffffff;
    position: unset;
    font-size: var(--font_125);
    padding: 1rem 1rem;
}
.ql-snow .ql-tooltip.ql-editing input[type=text]{
    background-color: var(--background);
    color: var(--lightblue);
    border: .1rem solid var(--lightgrey);
    padding: .5rem .5rem;
    display: inline-flex;
    border-radius: .5rem;
    transition: border 250ms;
    font-size: var(--font_125);
}
.ql-snow .ql-tooltip.ql-editing input[type=text]:focus{
    border-color: var(--green);
    outline: none;
}
.ql-snow .ql-tooltip input[type=text]{
    height: unset;
    width: 20rem;
}
.ql-snow .ql-tooltip[data-mode=link]::before{
    content: "Enter URL : ";
}
.ql-action::after,.ql-snow a{
    color: var(--green);
}
.ql-snow a{
    margin-left: 1rem;
}
.ql-snow .ql-tooltip.ql-editing a.ql-remove{
    display: inline-block;
}
.ql-editor ul li::marker,.text_composer li::marker{
    color: var(--green) !important;
    font-size: var(--font_15);
}
.ql-editor ol li::marker{
    color: var(--green) !important;
}
.ql-editor{
    min-height: 5rem;
    resize: vertical;
}
.ql-editor p:has(img){
    display: flex;
    flex-direction: column;
}
.ql-snow .ql-editor img{
    max-width: 950px;
    border-radius: .5rem;
    margin: 0 auto;
}
.ql-snow .ql-editor h3{
    font-size: var(--font_2);
}
.ql-snow .ql-editor h4{
    font-size: var(--font_175);
}
.ql-snow .ql-editor h5{
    font-size: var(--font_15);
}
.ql-snow .ql-editor h6{
    font-size: var(--font_125);
}
.ql-snow .ql-editor h3,.ql-snow .ql-editor h4,.ql-snow .ql-editor h5,.ql-snow .ql-editor h6{
    font-weight: 500;
}
.ql-editor strong{
    font-weight: 600;
}
.ql-editor ul li:not(.ql-direction-rtl),.ql-editor ol li:not(.ql-direction-rtl){
    padding-left: unset;
}
.ql-editor li:not(.ql-direction-rtl)::before{
    text-align: center;
}
.ql-editor ul > li{
    list-style-type: disc;
}
.ql-editor ol > li{
    list-style-type: decimal;
}
.ql-editor ol li{
    list-style-position: inside !important;
}
.ql-editor ul > li::before,.ql-editor ol > li::before{
    content: unset;
}
.ql-editor{
    line-height: 2rem;
    letter-spacing: 1px;
}
.ql-editor ul li{
    list-style-position: outside !important;
}
.ql-editor ul li,.ql-editor ol li,.ql-editor p{
    color: var(--lightblue);
}
.ql-snow .ql-editor blockquote{
    border-color: var(--green);
    border-radius: .5rem;
    background-color: var(--tileblue);
    padding: 1rem 2rem;
}
.ql-snow .ql-editor a{
    text-decoration: none;
    cursor: pointer;
}
.ql-toggleFullScreen svg{
    color: #ffffff;
    font-size: var(--font_175);
}
.ql-toggleFullScreen svg:hover{
    color: #06c;
}