.fill-green svg{
    color: var(--green);
}
.fill-red svg{
    color: #F32E2E;
}
.text-primary{
    color: var(--green);
}
.size-5 svg{
    font-size: 5rem;
}
dialog[open]{
    border: none;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgb(170,170,170,.8);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(170,170,170,.8);
    box-shadow: inset 0px 0px 5px 0px rgba(170,170,170,.8);
}