.text-primary{
    color: var(--green);
}
.text-secondary{
    color: var(--lightblue);
}
.text-white{
    color: #ffffff;
}
.text-black{
    color: #000000;
}
.text-gold{
    color: var(--gold);
}
.text-no-wrap{
    text-wrap: nowrap;
}
.font-weight-600{
    font-weight: 600;
}
.font-weight-500{
    font-weight: 500;
}
.text-error{
    color: red;
}
.text-centered{
    text-align: center;
}
.lowercase{
    text-transform: lowercase;
}
.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.cap-first-letter::first-letter{
    text-transform: uppercase;
}
.no-user-select{
    user-select: none;
}
.italic{
    font-style: italic;
}
.float-right{
    float: right;
}
.fs-1{
    font-size: var(--font_085);
}
.fs-2{
    font-size: var(--font_09);
}
.fs-3{
    font-size: var(--font_1);
}
.fs-4{
    font-size: var(--font_125);
}
.fs-5{
    font-size: var(--font_15);
}
.fs-5_5{
    font-size: var(--font_175);
}
.fs-6{
    font-size: var(--font_2);
}
.fs-7{
    font-size: var(--font_225);
}
.fs-8{
    font-size: var(--font_3);
}
.fs-9{
    font-size: var(--font_8);
}
.d-inline{
    display: inline;
}
.d-flex{
    display: flex;
}
.d-iflex{
    display: inline-flex;
}
.flex-col{
    flex-direction: column;
}
.d-grid{
    display: grid;
}
.grid-auto-fill{
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
}
.d-iblock{
    display: inline-block;
}
.content-centered{
    align-content: center;
}
.content-bottom{
    align-content: end;
}
.center-y{
    align-items: center;
}
.align-self-end{
    align-self: flex-end;
}
.justify-self-end{
    justify-self: flex-end;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.place-content-center{
    place-content: center;
}
.middle{
    vertical-align: middle;
}
.middle svg{
    vertical-align: middle;
}
.gap-025{
    gap: .25rem;
}
.gap-05{
    gap: .5rem;
}
.gap-1{
    gap: 1rem;
}
.gap-2{
    gap: 2rem;
}
.mtb-025{
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.mtb-05{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.mtb-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mtb-15{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.mt-025{
    margin-top: .25rem;
}
.mt-05{
    margin-top: .5rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-5{
    margin-top: 5rem;
}
.mt-120{
    margin-top: 12rem;
}
.mb-05{
    margin-bottom: .5rem;
}
.mr-025{
    margin-right: .25rem;
}
.mr-2{
    margin-right: 2rem;
}
.ml-1{
    margin-left: 1rem;
}
.ml-auto{
    margin-left: auto;
}
.p-1{
    padding: 1rem;
}
.pl-1{
    padding-left: 1rem;
}
.pl-3{
    padding-left: 3rem;
}

.pl-1{
    padding-left: 1rem;
}
.pr-05{
    padding-right: .5rem;
}
.p-15{
    padding: 1.5rem;
}
.plr-05{
    padding-left: .5rem;
    padding-right: .5rem;
}
.plr-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.plr-15{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.plr-25{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.pb-15{
    padding-bottom: 1.5rem;
}
.ptb-025{
    padding-top: .25rem;
    padding-bottom: .25rem;
}
.ptb-05{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.ptb-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ptb-15{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.w-min-5rem{
    min-width: 5rem;
}
.w-min-8rem{
    min-width: 8rem;
}
.w-fit{
    width: fit-content;
}
.w-2rem{
    width: 2rem;
}
.w-10rem{
    width: 10rem;
}
.w-13rem{
    width: 13rem;
}
.w-15rem{
    width: 15rem;
}
.w-20rem{
    width: 20rem;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-500px{
    width: 500px;
}
.h-fit{
    height: fit-content;
}
.h-100{
    height: 100dvh;
}
.h-100p{
    height: 100%;
}
.h-min-700px{
    min-height: 700px;
}
.aspect-ratio-equal{
    aspect-ratio: 1/1;
}
.aspect-ratio-15{
    aspect-ratio: 1.5/1;
}
.lh-3{
    line-height: 3rem;
}
.ltr-spacing-2{
    letter-spacing: 2rem;
}
.ltr-spacing-2::placeholder{
    letter-spacing: normal;
}
.rounded-1{
    border-radius: 1rem;
}
.rounded-05{
    border-radius: .5rem;
}
.rounded-025{
    border-radius: .25rem;
}
.rounded-100px{
    border-radius: 100px;
}
.rounded-top-1{
    border-radius: 1rem 1rem 0 0;
}
.border-bottom-grey-01{
    border-bottom: .1rem solid var(--lightgrey);
}
.border-grey-01{
    border: .1rem solid var(--lightgrey);
}
.border-grey-005{
    border: .05rem solid var(--lightgrey);
}
.border-green-01{
    border: .1rem solid var(--green);
}
.no-border{
    border: none;
}
.trans-border-250{
    transition: border-color 250ms;
}
.no-outline{
    outline: none;
}
.hide-overflow{
    overflow: hidden;
}
/* input:not(input[type="checkbox"]){
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 100px;
    border: .1rem solid var(--lightgrey);
    transition: border-color 250ms;
    outline: none;
    background-color: var(--tileblue);
    color: #ffffff;
    font-size: var(--font_125);
} */
input:not(input[type="checkbox"]):focus{
    border-color: var(--green);
}
input::placeholder{
    color: var(--lightblue);
}
input[type="checkbox"]{
    aspect-ratio: 1/1;
    width: 1rem;
    margin-right: .5rem;
}
input[type="checkbox"]:checked{
    background-color: var(--green);
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
}
a{
    color: var(--green);
    text-decoration: none;
    font-weight: 500;
}
.btn-primary{
    background-color: var(--green);
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1rem 0;
    border-radius: 100px;
    cursor: pointer;
    border: none;
}
.overlay{
    background: linear-gradient(7.41deg, #000000cc 23.95%, #01010100 54.62%);
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.static{
    position: static;
}
.top-0{
    top: 0;
}
.bottom-0{
    bottom: 0;
}
.left-0{
    left: 0;
}
.right-0{
    right: 0;
}
.top-25{
    top: 2.5rem;
}

input:disabled,label.disabled-label{
    opacity: .5;
    user-select: none;
}
.bg-green{
    background-color: var(--green);
}
.bg-lgreen{
    background-color: var(--lightgreen);
}
.bg-red{
    background-color: #F32E2E;
}
.bg-tile-blue{
    background-color: var(--tileblue);
}
.bg-light-blue{
    background-color: var(--lightblue);
}
.bg-common-blue{
    background-color: var(--background);
}
.bg-overlay{
    background-color: #000000a2;
}
.bg-tile-blue-tr{
    background-color: var(--black-pearl);
}
.bg-filter-5{
    backdrop-filter: blur(5px);
}
.z-index-100{
    z-index: 100;
}
.z-index-90{
    z-index: 90;
}
.pointer{
    cursor: pointer;
}
.hover-blue:hover{
    background-color: var(--background);
}
.hover-green:hover{
    background-color: var(--green);
    color: #000000;
}
.list-style-none{
    list-style: none;
}
.pointer-event-none{
    pointer-events: none;
}
.button-appearance-none{
    background-color: unset;
    border: unset;
    font: unset;
    color: unset;
}
/* .focusable:focus{
    border: .1rem inset var(--lightblue);
} */

/*Animation*/
.fluid-effect{
    animation: fluid-effect 100ms linear 1;
}

@keyframes fluid-effect {
    From{
        transform: scale(1);
    }
    To{
        transform: scale(1.1);
    }
}