@import url('./responsive.css');
/* font size */
.fs-xsm{
    font-size: .8rem;
}
.fs-sm{
    font-size: 1rem;
}
.fs-md{
    font-size: 1.25rem;
}
.fs-lg{
    font-size: 1.5rem;
}
.fs-2lg{
    font-size: 2rem;
}
.fs-xl{
    font-size: 2.5rem;
}

/* font weight */
.bold-sm{
    font-weight: 300;
}
.bold-normal{
    font-weight: normal;
}
.bold-md{
    font-weight: 600;
}

/* text transforms */
.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.italic{
    font-style: italic;
}
.center{
    text-align: center;
}
.wrap-text{
    text-wrap: wrap;
}
.no-wrap{
    white-space: nowrap;
}
.no-decoration{
    text-decoration: none;
}
.ellipsis{
    text-overflow: ellipsis;
}

/* line-height */
.lh-xsm{
    line-height: 1.5rem;
}
.lh-sm{
    line-height: 2rem;
}
.lh-md{
    line-height: 3rem;
}

.line-clamp-1{
    line-clamp: 1;
    -webkit-line-clamp: 1;
}

.line-clamp-2{
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.line-clamp-1, .line-clamp-2{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* color */
.primary{
    color: var(--green);
}
.secondary, .placeholder-text-secondary::placeholder{
    color: var(--gray);
}
.text-error{
    color: var(--red);
}
.text-white{
    color: #ffffff;
}

/* padding */
.pd-sm{
    padding: .25em .25em;
}
.pd-md{
    padding: .5em .5em;
}
.pd-lg{
    padding: 1em 1em;
}
.py-sm{
    padding-top: .25em;
    padding-bottom: .25em;
}
.py-md{
    padding-top: .5em;
    padding-bottom: .5em;
}
.py-lg{
    padding-top: 1em;
    padding-bottom: 1em;
}
.py-xl{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.pr-md{
    padding-right: .5em;
}
.pr-lg{
    padding-right: 1em;
}
.pr-2lg{
    padding-right: 1.5em;
}
.pl-lg{
    padding-left: 1em;
}
.px-sm{
    padding-left: .25em;
    padding-right: .25em;
}
.px-md{
    padding-left: .5em;
    padding-right: .5em;
}
.px-lg{
    padding-left: 1em;
    padding-right: 1em;
}
.px-xl{
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* margin */
.my-sm{
    margin-top: .25em;
    margin-bottom: .25em;
}
.my-md{
    margin-top: .5em;
    margin-bottom: .5em;
}
.my-lg{
    margin-top: 1em;
    margin-bottom: 1em;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.mt-sm{
    margin-top: .25em;
}
.mt-xl{
    margin-top: 1.5em;
}
.ml-sm{
    margin-left: .25em;
}
.ml-auto{
    margin-left: auto;
}

/* float */
.float-right{
    float: right;
}

/* width & height */
.w-full{
    width: 100%;
}
.w-90{
    width: 90%;
}
.w-20{
    width: 30%;
}
.w-fit{
    width: fit-content;
}
.w-300{
    width: 300px;
}
.w-3_5{
    width: 3.5rem;
}
.w-2_5{
    width: 2.5rem;
}
.w-2{
    width: 2rem;
}
.max-w-450{
    max-width: 450px;
}
.h-full{
    height: 100dvh;
}

/* aspect ratios */
.ratio-equal{
    aspect-ratio: 1/1;
}
.ratio-15-10{
    aspect-ratio: 15/10;
}

/* borders */
.border-sm-green{
    border: .1rem solid var(--green);
}
.border-sm-gray{
    border: .1rem solid var(--light-blue);
}
.border-btm-sm-gray{
    border-bottom: .1rem solid var(--light-blue);
}
.no-border{
    border: none;
}
.border-green-focus:focus-within, .border-green-focus:focus{
    border-color: var(--green);
}

/* transitions */
.border-transition-250{
    transition: border 250ms;
}
.transform-transition-250{
    transition: transform 250ms;
}

/* transforms */
.rotate-180{
    transform: rotate(180deg);
}

.rounded-md{
    border-radius: .5rem;
}
.rounded-lg{
    border-radius: 1rem;
}
.rounded-full{
    border-radius: 1000px;
}

/* outline */
.no-outline{
    outline: none;
}

/* display */
.d-inline{
    display: inline;
}
.d-inline-flex{
    display: inline-flex;
}
.d-flex{
    display: flex;
}
.d-grid{
    display: grid;
}
.flex-col{
    flex-direction: column;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.items-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.middle{
    vertical-align: middle;
}
.gap-md{
    gap: .5em;
}
.gap-lg{
    gap: 1em;
}
.flex-1{
    flex: 1;
}
.grid-template-auto-cols{
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}

/* opacity */
.opacity-60{
    opacity: 60%;
}

/* overflows */
.no-overflow{
    overflow: hidden;
}
.overflow-x{
    overflow-x: auto;
}

/* background */
.bg-gr-green{
    background: linear-gradient(#1B5E4D .01em,#081C23);
}
.bg-l-green{
    background-color: var(--light-green);
}
.bg-tile-blue{
    background-color: var(--tile-blue);
}
.bg-tile-blue-tr{
    background-color: var(--tile-blue-tr);
}
.bg-overlay{
    background-color: var(--overlay);
}
.bg-dark-blue{
    background-color: var(--dark-blue);
}
.hover-dark-bg:hover{
    background-color: var(--dark-blue);
}
.bg-green{
    background-color: var(--green);
}
.no-background{
    background: none;
}
.bg-cover{
    background-size: cover;
}

/* positions */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.sticky{
    position: sticky;
}
.fixed{
    position: fixed;
}
.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.bottom-0{
    bottom: 0;
}
.right-0{
    right: 0;
}
.top-sm{
    top: .25em;
}
.bottom--lg{
    bottom: -1.5em;
}
.bottom-1{
    bottom: 1em;
}
.left-auto{
    left: auto;
}
.right-auto{
    right: auto;
}
.right-sm{
    right: .25em;
}
.right-sm{
    right: .25em;
}

.z-index-modal{
    z-index: 110;
}
.z-index-top{
    z-index: 100;
}
.z-index-2{
    z-index: 90;
}

/* others */
.no-list{
    list-style: none;
}
.dot::after{
    content: ".";
    color: #ffffff;
}
.after-center-line{
    position: relative;
    margin-bottom: 1rem;
}
.after-center-line::after{
    content: "";
    width: 15%;
    height: .2rem;
    border-radius: 10px;
    background-color: var(--green);
    position: absolute;
    bottom: -1em;
    left: 42.5%;
}